* text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.icns binary
keyvault-cli binary
keyvault-cli.exe binary
libgcc_s_seh-1.dll binary
libstdc++-6.dll binary
libwinpthread-1.dll binary
