@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix');
  src: url('../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2')
      format('woff2'),
    url('../../assets/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff')
      format('woff'),
    url('../../assets/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf')
      format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix');
  src: url('../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2')
      format('woff2'),
    url('../../assets/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff')
      format('woff'),
    url('../../assets/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf')
      format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix');
  src: url('../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2')
      format('woff2'),
    url('../../assets/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff')
      format('woff'),
    url('../../assets/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf')
      format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix');
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2')
      format('woff2'),
    url('../../assets/fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff')
      format('woff'),
    url('../../assets/fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf')
      format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix');
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2')
      format('woff2'),
    url('../../assets/fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff')
      format('woff'),
    url('../../assets/fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf')
      format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix');
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2')
      format('woff2'),
    url('../../assets/fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff')
      format('woff'),
    url('../../assets/fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf')
      format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix');
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2')
      format('woff2'),
    url('../../assets/fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff')
      format('woff'),
    url('../../assets/fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf')
      format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix');
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2')
      format('woff2'),
    url('../../assets/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff')
      format('woff'),
    url('../../assets/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf')
      format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix');
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2')
      format('woff2'),
    url('../../assets/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff')
      format('woff'),
    url('../../assets/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf')
      format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix');
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2')
      format('woff2'),
    url('../../assets/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff')
      format('woff'),
    url('../../assets/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf')
      format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix');
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2')
      format('woff2'),
    url('../../assets/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff')
      format('woff'),
    url('../../assets/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf')
      format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Avenir Black';
  src: url('../../assets/fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix');
  src: url('../../assets/fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/c78eb7af-a1c8-4892-974b-52379646fef4.woff2')
      format('woff2'),
    url('../../assets/fonts/75b36c58-2a02-4057-a537-09af0832ae46.woff')
      format('woff'),
    url('../../assets/fonts/b5c44a82-eeb8-41de-9c3f-a8db50b24b8a.ttf')
      format('truetype');
}

@font-face {
  font-family: 'icons';
  src: url('../../assets/fonts/icons.eot');
  src: url('../../assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icons.woff') format('woff'),
    url('../../assets/fonts/icons.woff2') format('woff2'),
    url('../../assets/fonts/icons.ttf') format('truetype'),
    url('../../assets/fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]::before {
  font-family: 'icons' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  font-family: 'icons' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-protection::before {
  content: '\61';
}
.icon-check::before {
  content: '\64';
}
.icon-close::before {
  content: '\65';
}
.icon-edit::before {
  content: '\66';
}
.icon-key::before {
  content: '\62';
}
.icon-plugnplay::before {
  content: '\63';
}
.icon-help::before {
  content: '\67';
}
.icon-settings::before {
  content: '\68';
}
.icon-graph::before {
  content: '\69';
}
.icon-arrow-forward::before {
  content: '\6a';
}
.icon-lock::before {
  content: '\6b';
}
.icon-copy::before {
  content: '\6c';
}
.icon-report::before {
  content: '\6d';
}
.icon-more-vert::before {
  content: '\6e';
}
